* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons' sans-serif;
}

.hero {
    background-image: url(../images/Frankbryan\ .png);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    padding: 10px 10px;
}

header {
    background-color: #f7efef;
    background-size: cover;
    height: 4rem;
    opacity: 20rem;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

nav img {
    margin:0%;
    height: 4rem;
    width: 5rem;
    padding: 5px;
}

a {
    display: flex-end;
    color: #f107b7;
    font-size: 1.1rem;
    margin-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgb(10, 46, 252)
}

.q1 {
    margin-top: 4rem;
    background-color: #FF0066;
    opacity: 100px;
    height: 3rem;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 15rem;
}

h1 {
    color: #eee;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 0.9rem;
}

.q1:hover {
    background-color:rgb(202, 223, 20)
}

.btn{
    margin-top: 15rem;
    background-color: #FF0066;
    opacity: 100px;
    height: 3rem;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 15rem;

}

.btn h1 {
    color: #eee;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 0.9rem;
}

.btn:hover {
    background-color:rgb(202, 223, 20)
}

.restuarant {
    margin-left: 800px;
    margin-top: 300px;
}

.coment h1 {
    color: rgb(248, 244, 6);
    background-color:rgb(223, 20, 179)
}

.coment p {
    color:rgb(205, 250, 6);
    background-color:rgb(223, 20, 179)
}

h2{
    margin-left: 875px;
    color:#eee;
    font-size: 2rem;
    caption-side: bottom;
    font-weight: bold;
}